
body {
  margin-top: 20px;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

.clear {
  clear:left;
}

.header-icon {
  float: left;
  height: auto;
  width: 50px;
  margin-left: 40px;
  border-radius: 20px;
}

.header-text {
  float: right;
  margin: 10px 15px;
}


.header{
  padding-bottom: 70px;
  position: sticky;
  top: 0px;
  background-color: #B3B3B3;
  padding: 10px 20px;
  width: 100%; 
  height: 50px;
  z-index: 10;
}

.new {
  background-color: #457696;
  color: white;
  padding: 10px 20px;
  border-radius: 4px
}

.new:hover{
  background-color: #072657;
}

.login {
  background-color: grey;
  padding: 10px 20px;
  border-radius: 4px;
  color:white;
}

.login:hover {
  background-color: #3E3F40;
}
   
.cart {
  background-color: #18C97E;
  padding: 10px 20px;
  border-radius: 4px;
  color: white
}

.cart:hover {
  background-color: #0A8A3F; 
}

.coffee {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px
}

.coffee-item {
  float: left;
  width: 25%;
}

.coffee-item:hover {
 opacity: 0.7;
}

.food {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
  border-top: 1px solid grey;
}

.food-item {
  float: left;
  width: 25%;
}

.food-item:hover {
 opacity: 0.7;
}

.coffee-photo {
  height: auto;
  width: 200px;
  border-radius: 16px;
}
p {
  color: black;
}

.footer {
  width: 100%;
  float:left;
  font-size: 12px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 1px solid #DBDBDB;
  background-image: url('images/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
}

.footer p{
  color: white;
}

.footer a{
  padding-right: 50px;
  color: white;
}

.footer ul{
  padding-top: 50px;
  float:right;
}

.contact-form {
  padding-left: 50px;
}

.contact-form input {
  width: 300px;
  height: 30px;
  border: 1px solid #E3E3E3;
  border-radius: 6px;
  padding: 5px 10px;
}

.contact-form p {
  font-size: 24px;
}

.contact-form textarea {
  width: 300px;
  height: 80px;
  border: 1px solid #E3E3E3;
  border-radius: 6px;
  padding: 10px 10px;
}

.button:hover {
  background-color: #878787;
}



  
  
  
  
  
