body {
  margin: 20px;
  width: 1170px;
}
a {
  text-decoration: none;
}

.clear {
  clear:left;
}

.header-icon {
  float: left;
  height: auto;
  width: 50px;
  padding-left: 20px;
}

.header-text {
  float: right;
  margin: 10px 15px;
}


.header{
  padding-bottom: 70px;
  border-bottom: 1px solid 
}
.new {
  background-color: #457696;
  color: white;
  padding: 10px 20px;
  border-radius: 4px
}

.new:hover{
  background-color: #072657;
}

.login {
  background-color: grey;
  padding: 10px 20px;
  border-radius: 4px;
  color:white;
}

.login:hover {
  background-color: #3E3F40;
}
   
.cart {
  background-color: #18C97E;
  padding: 10px 20px;
  border-radius: 4px;
  color: white
}

.cart:hover {
  background-color: #0A8A3F; 
}

.transition {
  height: 50px;
  background-color: #CFCFCF;
}
.coffee {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px
}

.coffee-item {
  float: left;
  width: 25%;
}

.food {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
  border-top: 1px solid grey;
}

.food-item {
  float: left;
  width: 25%;
}

p {
  color: black;
}

.footer {
  width: 1170px;
  float:left;
  font-size: 12px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 1px solid #DBDBDB;
  background-image: url('background.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.footer a{
  padding-right: 50px;
  color: black;
}

.coffee-photo {
  height: auto;
  width: 200px;
  border-radius: 16px;
}